extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Bart Smolders
        p Junior Full Stack JavaScript Developer, Technical Engineer

        .about-bio
        h3 Education 
        h5 Full-Stack Javascript course - TeamTreeHouse - 2021
        h5 Bachelor Technical Engineering - Avans Hogeschool - 2019


        h3 Work Experience
        h5 Co-Founder, 10MindsMore, Amsterdam - 2020-Present
        p 10MindsMore connects knowledge institutes with businesses. We do this by replacing outdated or fictional projects within universities of applied sciences with relevant cases from the business world. Currently, I am now running the first 10 pilot cases. Have a look at our website for more info: 10mindsmore.com
        h5 Assistant Manager, VolksHotel, Amsterdam — 2019-2020
        p Responsible for achieving KPI goals and consistent quality performance of the team (approximately 16 employees). This is achieved by providing training and giving classes, optimising operational processes, intrinsically motivating employees, managing and hiring fitting staff members.
        h5 Supply Chain Management, Personal Protein, Amsterdam — 2018-2019
        p As an intern responsible for reorganising the supply chain following the lean principles. This led to more efficient logistics that give opportunities for sustainable growth. This advice was compiled with risk analyses, staff adjustments, and data management.
        h5 Technical Management/Consultant, Amsterdam — 2016-2018
        p Started as technical manager of a residential community. In the last year, I've been advising this growing company on organizational structure, data management, and the philosophy of constant improvement to create sustainable growth. This one-year project was in collaboration with a professional consultant.

      .skills-contact-box.box
        h6 Skills
        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SQL
          li Restfull API's
          li React

        h6 Contact Info

        ul
          li +316 17 322 193
          li bplsmolders@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/bart-smolders-814090aa/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/bplsmolders' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back