extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Bart Smolders
        p Full Stack JavaScript Developer, Technical Engineer


        .about-bio
          p After living, studying and working in Amsterdam for the past 6 years, I’ve moved to Berlin for a new adventure. I’ve found the perfect opportunity to start a new project to accompany this big adventure and started my own business: 
          a(href='https://www.10mindsmore.com/') Have a look at our current website!
          p We take real business cases to universities to prepare students for their future and give entrepreneurs refreshing insights. To upscale this business, the next goal is to make a web application where universities and business can connect with each other. 
          p To create this web application I’ve started to learn code myself. For this I’ve been creating multiple practice projects. Have a look in my portfolio to see what I’ve created so far.  


      .skills-contact-box.box
        h6 Skills
        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li +316 17 322 193
          li bplsmolders@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/bart-smolders-814090aa/') LinkedIn
        a.btn-link(href='https://github.com/bplsmolders') GitHub
        a.btn-link(href='https://twitter.com/') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back