extends layout.pug

block content

  article.portfolio-intro

    h1 My Portifolio
    p I’ve been creating multiple coding projects. Have a look and see what I’ve created so far. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            h5= `${project.project_name}`
