<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Bart Smolders
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src="/static/images/profilePic.png", alt='')
        .dev-intro-box

          h5 Bart Smolders

          p I've always had an interest in app development, and at the start of 2021, I've decided to take it to the next level by taking a 4-month full-stack JavaScript course. I'm now looking for a company where I can further develop these skills.
          br
          p With a background in technical engineering I obtained excellent problem-solving skills, and am able to confidently communicate with teams and clients. I thrive under a heavy workload and develop myself best in an informal, but professional environment. 

          a(href='/about') Resume &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Bart Smolders

      block content

  script(src='/static/js/script.js')