<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Bart Smolders
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src="/static/images/profilePic.png", alt='')
        .dev-intro-box

          h5 Bart Smolders

          p Learning to code has become my new goal in order to create a web app for my project 10MindsMore.
          br
          p Next to that I have a background as a Technical Engineer, where I focus on making thought-out decisions to optimize business processes. In order to serve a companies strategy, I use my leadership and organisational skills to help teams work more efficiently in complex situations. 

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Bart Smolders

      block content

  script(src='/static/js/script.js')